.menu-page{
    padding: 40px 0 60px;
}
.menu-page__wrapper{
    display: flex;
    align-items: center;
}

.menu-meal{
    width: calc(100% / 2);
}

.menu-meal:first-child{
    padding-right: 15px;
}

.menu-meal:last-child{
    padding-left: 15px;
}

.menu-meal__heading{
    font-family: var(--font-Lobster-Two);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid;
}


.menu-list-box{
    display: flex;
    align-items: center;
    padding: 30px 0 25px;
}

.menu-list-img{
    /* width: 107px; */
    width: 100%;
    height: 107px;
    overflow: hidden;
    padding-right: 26px;
}

.menu-list-img__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.menu-list-container-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list-container-content__title{
    font-size: 2.1rem;
    margin: 0;
}

.menu-list-container-content__dot{
    flex-grow: 1;
    border-bottom: 4px dotted var(--primary-color);
    padding: 10px 0 0;
    margin: 0 10px;
}

.menu-list-container-content__price{
    font-size: 2.1rem;
    margin: 0;
    font-weight: bold;
    color: var(--primary-color);
}

.menu-list-container__des{
    font-size: 1.4rem;
    margin: 0;
    font-weight: 500;
    padding: 10px 0;
}
